{{ define "other/login.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/assets/css/pico.min.css">
    <script defer src="/assets/js/login.js"></script>
</head>
<body>
    <article>
        <header><h1>Login</h1></header>
        <input type="text" placeholder="Username" id="Username">
        <input type="password" placeholder="Password" id="Password">
        <button onclick="Login()">Login</button>
    </article>
</body>
</html>
{{ end }}