{{ define "ppk/dashboard.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pejabat Pemberi Komitmen Dashboard</title>
    <link rel="stylesheet" href="/assets/css/pico.min.css">
    <link rel="stylesheet" href="/assets/css/modal.css">
    <script defer src="/assets/js/ppk-dashboard.js"></script>
</head>
<body>
    <article>
        <head><h1>Pejabat Pemberi Komitmen Dashboard</h1></head>
        <button>Ganti Password</button>
    </article>
    <article>
        <head><h2>Inbox dari Pejabat Umum</h2></head>
        <table>
            <thead>
                <th>ID</th>
                <th>Prioritas</th>
                <th>Tanggal Dibuat</th>
                <th>Pekerjaan</th>
                <th>Lokasi</th>
                <th>Nama / Tag Alat</th>
                <th>Aksi</th>
            </thead>
            <tbody id="table-body-pum">

            </tbody>
        </table>
    </article>
    <article>
        <head><h2>Inbox dari Pejabat Pengadaan</h2></head>
        <table>
            <thead>
                <th>ID</th>
                <th>Pekerjaan</th>
                <th>Tanggal Mulai</th>
                <th>Pekerja</th>
                <th>Email Pekerja</th>
                <th>Biaya</th>
                <th>Aksi</th>
            </thead>
            <tbody id="table-body-ppe">

            </tbody>
        </table>
    </article>
    <article>
        <head><h2>Inbox dari Pekerja</h2></head>
        <table>
            <thead>
                <th>ID</th>
                <th>Tanggal</th>
                <th>Pekerjaan</th>
                <th>Nama / Tag Alat</th>
                <th>Lokasi</th>
                <th>Pekerja</th>
                <th>Email Pekerja</th>
                <th>Aksi</th>
            </thead>
            <tbody id="table-body-worker">

            </tbody>
        </table>
    </article>

    <!-- Modal -->
    <div id="detail-modal" class="modal" style="display: none;">
        <!-- Modal content -->
        <div class="modal-content">
            <article>
                <head><h1>Detail</h1></head>
                <div id="detail">

                </div>
                <button onclick="closeModalDetail()" style="background-color:darkslategrey;border:none;">Kembali</button>
            </article>
        </div>
    </div>
    <!-- Modal -->
    <div id="respond-pum-modal" class="modal" style="display: none;">
        <!-- Modal content -->
        <div class="modal-content">
            <article>
                <head><h1>Respon ke Pejabat Pengadaan</h1></head>
                <input type="text" id="pum-input-est-cost" placeholder="Perkiraan Biaya">
                <button id="pum-button-submit">Submit</button>
                <button style="background-color: red;border: none;">Tolak</button>
                <button onclick="closePUMRespond()" style="background-color: darkslategrey;border: none;">Kembali</button>
            </article>
        </div>
    </div>
    <!-- Modal -->
    <div id="create-wo-modal" class="modal" style="display: none;">
        <!-- Modal content -->
        <div class="modal-content">
            <article>
                <head><h1>Buat Work Order</h1></head>
                <label for="wo-input-est-date">Tanggal Mulai Pengerjaan</label>
                <input type="date" id="wo-input-est-date">
                <input type="text" id="wo-input-est-labor-hour" placeholder="Jumlah Waktu Kerja">
                <input type="text" id="wo-input-worker" placeholder="Pekerja">
                <input type="email" id="wo-input-worker-email" placeholder="Email Pekerja">
                <input type="text" id="wo-input-cost" placeholder="Biaya">
                <button id="wo-button-submit" style="background-color: green;border: none;">Submit</button>
                <button style="background-color: red;border: none;">Tolak</button>
                <button onclick="closeCreateWO()" style="background-color: darkslategrey;border: none;">Kembali</button>
            </article>
        </div>
    </div>
    <!-- Modal -->
    <div id="respond-worker-modal" class="modal" style="display: none;">
        <!-- Modal content -->
        <div class="modal-content">
            <article>
                <head><h1>Closing Work Order</h1></head>
                <textarea id="worker-input-msg" cols="30" rows="10" placeholder="Pesan"></textarea>
                <button id="worker-button-rev" style="background-color: red;border: none;">Revisi</button>
                <button id="worker-button-acc" style="background-color: green;border: none;">Terima</button>
                <button onclick="closeWorkerRespond()" style="background-color: darkslategrey;border: none;">Kembali</button>
            </article>
        </div>
    </div>
</body>
</html>
{{ end }}