{{ define "user/dashboard.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/assets/css/pico.min.css">
    <link rel="stylesheet" href="/assets/css/modal.css">
    <script defer src="/assets/js/user-dashboard.js"></script>
</head>
<body>
    <article>
        <head><h1>User Dashboard</h1></head>
        <button onclick="showCreateWR()">Buat Work Request</button>
        <button onclick="showChangePassword()">Ganti Password</button>
    </article>
    <article>
        <head><h2>Riwayat</h2></head>
        <table>
            <thead>
                <th>ID</th>
                <th>Prioritas</th>
                <th>Tanggal Dibuat</th>
                <th>Pekerjaan</th>
                <th>Status</th>
                <th>Lokasi</th>
                <th>Nama / Tag Alat</th>
                <th>Aksi</th>
            </thead>
            <tbody id="table-body">

            </tbody>
        </table>
        <button onclick="loadMore()">Muat Lagi</button>
    </article>
    <!-- Modal -->
    <div id="wr-modal" class="modal" style="display: none;">

        <!-- Modal content -->
        <div class="modal-content">
            <article>
                <head><h1>Buat Work Request</h1></head>
                <select name="Priority" id="input-priority">
                    <option default>pilih prioritas</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <input type="text" name="Task" id="input-task" placeholder="pekerjaan">
                <input type="text" name="Location" id="input-location" placeholder="lokasi">
                <input type="text" name="Equipment" id="input-equipment" placeholder="nama / tag alat">
                <textarea name="Instruction" id="input-instruction" cols="30" rows="10" placeholder="Instruksi"></textarea>
                <textarea name="Description" id="input-description" cols="30" rows="10" placeholder="Description"></textarea>
                <button onclick="createWR()">Submit</button>
                <button onclick="closeModalWR()" style="background-color:red;border:none;">Cancel</button>
            </article>
        </div>
    </div>
     <!-- Modal -->
     <div id="detail-modal" class="modal" style="display: none;">
        <!-- Modal content -->
        <div class="modal-content">
            <article>
                <head><h1>Detail</h1></head>
                <div id="detail">

                </div>
                <button id="button-cancel" style="background-color: red;border:none;">Batalkan</button>
                <button onclick="closeModalDetail()" style="background-color:darkslategrey;border:none;">Kembali</button>
            </article>
        </div>
    </div>
    <!-- Modal -->
    <div id="change-password-modal" class="modal" style="display: none;">

        <!-- Modal content -->
        <div class="modal-content">
            <article>
                <head><h1>Ganti Password</h1></head>
                <input type="password" name="OldPassword" id="input-old-password" placeholder="Password Lama">
                <input type="password" name="NewPassword" id="input-new-password" placeholder="Password Baru">
                <button onclick="changePwd()">Submit</button>
                <button onclick="closeChangePassword()" style="background-color:red;border:none;">Back</button>
            </article>
        </div>
    </div>
</body>
</html>
{{ end }}