<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BDMUP Dashboard</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.js"></script>
    <script defer src="/js/bdmup.js"></script>
    <script defer src="/js/logout.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/assets/img/ppsdm.png" width="50" height="50" alt="logo">
          </a>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/ppp" target="_blank">Lihat PPP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rp" target="_blank">Lihat RP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/perkiraan-biaya" target="_blank">Lihat Perkiraan Biaya</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pengadaan" target="_blank">Lihat Pengadaan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/spk" target="_blank">Lihat SPK</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/change-pwd">Ganti Password</a>
                </li>
                <li class="nav-item" style="cursor: pointer;">
                    <a class="nav-link" id="btn-logout">Logout</a>
                </li>
            </ul>
            </form>
        </div>
    </nav>
    <div class="d-flex justify-content-center">
        <div class="p-4">
            <h1>BDMUP Dashboard</h1>
            <hr>
            <h3>Hello {{ . }}</h3>
            <hr>
            <div class="container mt-5 mb-5">
                <div class="row mb-2">
                    <div class="col-sm">
                        <a href="/create-ppp"><button class="btn btn-primary">Buat Permohonan</button></a>
                    </div>
                </div>
            </div>
            <table class="table">
                <p class="font-weight-light"><u>Inbox Permohonan Permintaan Pekerjaan</u></p class="font-weight-light">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tanggal Dibuat</th>
                        <th>Nota</th>
                        <th>Perihal</th>
                        <th>Sifat</th>
                        <th>Pekerjaan</th>
                        <th>Status</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody id="table-ppp">
                </tbody>
            </table>
            <table class="table">
                <p class="font-weight-light"><u>Inbox Rencana Pekerjaan</u></p class="font-weight-light">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>PPP ID</th>
                        <th>Tanggal Dibuat</th>
                        <th>Status</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody id="table-rp">
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>