<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BDMU Dashboard</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.js"></script>
    <script defer src="/js/bdmu.js"></script>
</head>
<body>
    <div class="d-flex justify-content-center">
        <div class="p-4">
            <h1>BDMU Dashboard</h1>
            <hr>
            <h3>Hello Hadekha Erfadila F.</h3>
            <hr>
            <table class="table">
                <p class="font-weight-light"><u>Inbox Permohonan Permintaan Pekerjaan</u></p class="font-weight-light">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Pekerjaan</th>
                        <th>Status</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Servis Diesel Engine</td>
                        <td>Rejected</td>
                        <td><button class="btn m-1">detail</button><button class="btn btn-success m-1">terima</button><button class="btn btn-danger m-1">tolak</button></td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <p class="font-weight-light"><u>Inbox Rencana Pekerjaan</u></p class="font-weight-light">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>PPP ID</th>
                        <th>Tanggal Dibuat</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>22/2/21</td>
                        <td><button class="btn m-1">lihat</button><button class="btn btn-success m-1">terima</button><button class="btn btn-danger m-1">tolak</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>