<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ganti Password</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.js"></script>
    <script defer src="/js/change-pwd.js"></script>
</head>
<body>
    <div class="d-flex justify-content-center">
        <div class="p-4">
            <h1>Ganti Password</h1>
            <hr>
            <form>
            <div class="mb-3">
                <label for="input-password" class="form-label">Password Baru</label>
                <input type="text" class="form-control" id="input-password" aria-describedby="passwordHelp">
                <div id="passwordHelp" class="form-text">masukkan password baru.</div>
            </div>
            <button type="button" class="btn btn-primary" id="btn-changepwd">Ganti Password</button>
            <a href="/"><button class="btn" type="button">kembali</button></a>
            </form>
        </div>
    </div>
</body>
</html>