<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buat Surat Perintah Kerja</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.js"></script>
    <script defer src="/js/create-spk.js"></script>
</head>
<body>
    <div class="d-flex justify-content-center">
        <div class="p-4">
            <h1>Buat Surat Kerja</h1>
            <hr>
            <p>dibuat berdasarkan Dokumen Pengadaan dengan ID : 1</p>
            <a href="/ddd">detail</a>
            <hr>
            <form>
            <div class="mb-3">
                <label for="input-worker-Email" class="form-label">Email Pekerja</label>
                <input type="email" class="form-control" id="input-worker-Email" aria-describedby="worker-EmailHelp">
                <div id="worker-EmailHelp" class="form-text">masukkan email pekerja.</div>
            </div>
            <div class="mb-3">
                <label for="input-rp" class="form-label">Surat Perintah Kerja</label>
                <input type="file" class="form-control" id="input-rp" aria-describedby="rpHelp">
                <div id="rpHelp" class="form-text">upload dokumen surat perintah kerja.</div>
            </div>
            <button type="submit" class="btn btn-primary">Buat Surat Perintah Kerja</button>
            </form>
        </div>
    </div>
</body>
</html>