<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buat Surat Perintah Kerja</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.js"></script>
    <script defer src="/js/create-spk.js"></script>
</head>
<body>
    <div class="d-flex justify-content-center">
        <div class="p-4">
            <h1>Buat Surat Kerja</h1>
            <hr>
            <p>dibuat berdasarkan Dokumen Pengadaan dengan ID : {{ .PengadaanID }}</p>
            <a href="/pengadaan/{{ .PengadaanID }}" target="_blank">detail</a>
            <hr>
            <form>
            <input type="hidden" id="input-id" value="{{ .ID }}">
            <input type="hidden" id="input-pengadaan-id" value="{{ .PengadaanID }}">
            <div class="mb-3">
                <label for="input-worker-email" class="form-label">Email Pekerja</label>
                <input type="email" class="form-control" id="input-worker-email" aria-describedby="worker-EmailHelp">
                <div id="worker-EmailHelp" class="form-text">masukkan email pekerja.</div>
            </div>
            <div class="mb-3">
                <label for="input-doc" class="form-label">Surat Perintah Kerja</label>
                <input type="file" class="form-control" id="input-doc" aria-describedby="docHelp">
                <div id="docHelp" class="form-text">upload dokumen surat perintah kerja.</div>
            </div>
            <button type="button" class="btn btn-primary" id="btn-create-spk">Buat Surat Perintah Kerja</button>
            <button class="btn" id="btn-exit">exit</button>
            </form>
        </div>
    </div>
</body>
</html>