<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buat Pengadaan</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.js"></script>
    <script defer src="/js/create-pengadaan.js"></script>
</head>
<body>
    <div class="d-flex justify-content-center">
        <div class="p-4">
            <h1>Buat Pengadaan</h1>
            <hr>
            <p>dibuat berdasarkan Perkiraan Biaya dengan ID : {{ .PerkiraanBiayaID }}</p>
            <a href="/perkiraan-biaya/{{ .PerkiraanBiayaID }}" target="_blank">detail</a>
            <hr>
            <form>
            <input type="hidden" id="input-id" value="{{ .ID }}">
            <input type="hidden" id="input-perkiraan-biaya-id" value="{{ .PerkiraanBiayaID }}">
            <div class="mb-3">
                <label for="input-doc" class="form-label">Pengadaan</label>
                <input type="file" class="form-control" id="input-doc" aria-describedby="pengadaanHelp">
                <div id="pengadaanHelp" class="form-text">upload dokumen pengadaan.</div>
            </div>
            <button type="button" class="btn btn-primary" id="btn-create-pengadaan">Buat Pengadaan</button>
            <button type="button" class="btn" id="btn-exit">exit</button>
            </form>
        </div>
    </div>
</body>
</html>