<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entity ID {{.ID}}</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.js"></script>
    <script defer src="/js/logout.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/assets/img/ppsdm.png" width="50" height="50" alt="logo">
          </a>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create-ppp"><strong>buat PPP</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ppp">PPP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rp">RP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/perkiraan-biaya">Perkiraan Biaya</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pengadaan">Pengadaan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/spk">SPK</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/change-pwd">Ganti Password</a>
                </li>
                <li class="nav-item" style="cursor: pointer;">
                    <a class="nav-link" id="btn-logout">Logout</a>
                </li>
            </ul>
            </form>
        </div>
    </nav>
    <div class="d-flex justify-content-center">
        <div class="container m-5 p-3 border">
            <div class="row mb-3">
                <div class="col-sm">
                    <p class="h5"><u>ID</u></p>
                    <p class="h3">{{.ID}}</p>
                </div>
                <div class="col-sm">
                    <p class="h5"><u>Nama Lengkap</u></p>
                    <p class="h3">{{.Fullname}}</p>
                </div>
                <div class="col-sm">
                    <p class="h5"><u>Username</u></p>
                    <p class="h3">{{.Username}}</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm">
                    <p class="h5"><u>Email</u></p>
                    <p class="h3">{{.Email}}</p>
                </div>
                <div class="col-sm">
                    <p class="h5"><u>Peran</u></p>
                    <p class="h3">{{.Role}}</p>
                </div>
                <div class="col-sm">
                    <p class="h5"><u>Signature</u></p>
                    <a href="/{{.Signature}}"><button class="btn btn-primary">lihat</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>