<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Permohonan Permintaan Pekerjaan</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.js"></script>
</head>
<body>
    <div class="d-flex justify-content-center">
        <div class="p-4">
            <h1>Detail Permohonan Permintaan Pekerjaan</h1>
            <hr>
            <div class="container border">
                <div class="row p-2">
                    <div class="col-sm">
                        <p class="font-weight-light h5"><u>Tanggal dibuat</u></p>
                        <p class="font-weight-bold h5">22/10/2021</p>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-sm">
                        <p class="font-weight-light h5"><u>Nota</u></p>
                        <p class="font-weight-bold h4">No.188 / BDMU / 2021</p>
                    </div>
                    <div class="col-sm">
                        <p class="font-weight-light h5"><u>Permohonan ID</u></p>
                        <p class="font-weight-bold h2">1</p>
                    </div>
                    <div class="col-sm">
                        <p class="font-weight-light h5"><u>Pembuat ID</u></p>
                        <p class="font-weight-bold h2">1</p>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-sm">
                        <p class="font-weight-light h5"><u>Perihal</u></p>
                        <p class="font-weight-bold h3">Servis Rutin</p>
                    </div>
                    <div class="col-sm">
                        <p class="font-weight-light h5"><u>Sifat</u></p>
                        <p class="font-weight-bold h3">Segera</p>
                    </div>
                    <div class="col-sm">
                        <p class="font-weight-light h5"><u>Status</u></p>
                        <p class="font-weight-bold h3">RP is created</p>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-sm">
                        <p class="font-weight-light h5"><u>Pekerjaan</u></p>
                        <p class="font-weight-bold h3">Servis rutin diesel engine bulanan.</p>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-sm pb-3">
                        <button class="btn btn-primary">Lihat dokumen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>