<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permintaan Permohonan Pekerjaan</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.js"></script>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tanggal Dibuat</th>
                <th>Nota</th>
                <th>Perihal</th>
                <th>Sifat</th>
                <th>Pekerjaan</th>
                <th>Status</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {{ range $v := . }}
            <tr>
                <td>{{ $v.ID }}</td>
                <td>{{ $v.DateCreated }}</td>
                <td>{{ $v.Nota }}</td>
                <td>{{ $v.Perihal }}</td>
                <td>{{ $v.Sifat }}</td>
                <td>{{ $v.Pekerjaan }}</td>
                <td>{{ $v.Status }}</td>
                <td>
                    <a href="/{{$v.Doc}}" target="_blank"><button class="btn btn-primary">lihat dokumen</button></a>
                    <a href="/ppp/{{$v.ID}}" target="_blank"><button class="btn btn-primary">lihat detail</button></a>
                    <a href="/entity/{{$v.CreatorID}}" target="_blank"><button class="btn btn-primary">detail pembuat</button></a>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</body>
</html>