<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permintaan Permohonan Pekerjaan ID {{.ID}}</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.js"></script>
</head>
<body>
    <div class="d-flex justify-content-center">
        <div class="container m-5 p-3 border">
            <div class="row mb-3">
                <div class="col-sm">
                    <p class="h5"><u>Tanggal Dibuat</u></p>
                    <p class="h3">{{ .DateCreated }}</p>
                </div>
                <div class="col-sm">
                    <p class="h5"><u>ID</u></p>
                    <p class="h3">{{ .ID }}</p>
                </div>
                <div class="col-sm">
                    <p class="h5"><u>ID Pembuat</u></p>
                    <p class="h3">{{ .CreatorID }}</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm">
                    <p class="h5"><u>Nota</u></p>
                    <p class="h3">{{ .Nota }}</p>
                </div>
                <div class="col-sm">
                    <p class="h5"><u>Perihal</u></p>
                    <p class="h3">{{ .Perihal }}</p>
                </div>
                <div class="col-sm">
                    <p class="h5"><u>Sifat</u></p>
                    <p class="h3">{{ .Sifat }}</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm">
                    <p class="h2"><u>Status</u></p>
                    <p class="h1">{{ .Status }}</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm">
                    <p class="h2"><u>Alasan</u></p>
                    <p class="h1">{{ .Reason }}</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm">
                    <p class="h5"><u>Pekerjaan</u></p>
                    <p class="h5">{{ .Pekerjaan }}</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm">
                    <p class="h5"><u>BDMU ID</u></p>
                    <p class="h3">{{ .BDMUID }}</p>
                </div>
                <div class="col-sm">
                    <p class="h5"><u>BDMUP ID</u></p>
                    <p class="h3">{{ .BDMUPID }}</p>
                </div>
                <div class="col-sm">
                    <p class="h5"><u>Kelompok A ID</u></p>
                    <p class="h3">{{ .KELAID }}</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm">
                    <a href="/{{ .Doc }}" target="_blank"><button class="btn btn-primary">lihat dokumen</button></a>
                    <a href="/entity/{{ .CreatorID }}" target="_blank"><button class="btn btn-primary">detail pembuat</button></a>
                </div>
            </div>
            <div class="row mb-3">
                <img src="/{{ .Photo }}">
            </div>
        </div>
    </div>
</body>
</html>