<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revisi Pengerjaan</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.js"></script>
    <script defer src="/js/revision.js"></script>
</head>
<body>
    <div class="d-flex justify-content-center">
        <div class="p-4">
            <h1>Revisi Pengerjaan</h1>
            <hr>
            <p>revisi untuk Surat Perintah Kerja dengan ID : 1</p>
            <a href="/ddd">detail</a>
            <hr>
            <form>
            <div class="mb-3">
                <label for="input-revisi" class="form-label">Pesan</label>
                <input type="text" class="form-control" id="input-revisi" aria-describedby="revisiHelp">
                <div id="revisiHelp" class="form-text">masukkan pesan untuk revisi pengerjaan.</div>
            </div>
            <button type="submit" class="btn btn-primary">Revisi Pengerjaan</button>
            </form>
        </div>
    </div>
</body>
</html>