<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rencana Pekerjaan</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.js"></script>
    <script defer src="/js/rp.js"></script>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tanggal Dibuat</th>
                <th>Status</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody id="table-rp">
            {{ range $v := . }}
            <tr>
                <td>{{ $v.ID }}</td>
                <td>{{ $v.DateCreated }}</td>
                <td>{{ $v.Status }}</td>
                <td>
                    <a href="/{{$v.Doc}}" target="_blank" class="m-2"><button class="btn btn-primary">lihat dokumen</button></a><a href="/rp/{{$v.ID}}" target="_blank" class="m-2"><button class="btn btn-primary">lihat detail</button></a><a href="/entity/{{$v.CreatorID}}" target="_blank" class="m-2"><button class="btn btn-primary">detail pembuat</button></a>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
    <button class="btn" id="btn-paging">Muat lebih</button>
</body>
</html>