<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Admin Dashboard</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.js"></script>
    <script defer src="/js/super-admin.js"></script>
    <script defer src="/js/logout.js"></script>
</head>
<body>
    <div class="d-flex justify-content-center">
        <div class="p-4">
            <h1>Super Admin Dashboard</h1>
            <hr>
            <h3>Hello Super Admin</h3>
            <hr>
            <div class="container mt-5 mb-5">
                <div class="row mb-2">
                    <div class="col-sm">
                        <a href="/create-entity"><button class="btn btn-primary">Buat Entity Baru</button></a>
                    </div>
                    <div class="col-sm">
                        <a href="/change-pwd"><button class="btn btn-primary">Ganti Password</button></a>
                    </div>
                    <div class="col-sm">
                        <button class="btn btn-primary" id="btn-logout">Logout</button>
                    </div>
                </div>
            </div>
            <table class="table">
                <p class="font-weight-light"><u>Tabel Entity</u></p class="font-weight-light">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nama Lengkap</th>
                        <th>Username</th>
                        <th>Peran</th>
                        <th>Email</th>
                        <th>Ttd</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody id="table-entity">
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>